<%= form_with(model: calamity) do |form| %>
  <% if calamity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calamity.errors.count, "error") %> prohibited this calamity from being saved:</h2>

      <ul>
        <% calamity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, class: "block border border-grey-light w-full p-3 rounded mb-4" %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, required: true, class: "block border border-grey-light w-full p-3 rounded mb-4" %>
  </div>

  <div class="field">
    <%= form.label :scheduled_at %>
    <%= form.datetime_field :scheduled_at, required: true, class: "block border border-grey-light w-full p-3 rounded mb-4" %>
  </div>

  <div class="actions">
    <%= form.submit class: "w-full text-center py-3 rounded bg-indigo-600 text-white hover:bg-green-dark focus:outline-none" %>
  </div>
<% end %>
