<p id="notice"><%= notice %></p>

<h1>Calamities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Scheduled At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calamities.each do |calamity| %>
      <tr>
        <td><%= calamity.name %></td>
        <td><%= calamity.scheduled_at %></td>
        <td><%= link_to 'Show', calamity_path(calamity) %></td>
        <td><%= link_to 'Edit', edit_calamity_path(calamity) %></td>
        <td><%= link_to 'Destroy', calamity_path(calamity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calamity', new_calamity_path %>
