<div class="flex flex-col flex-grow">
  <div class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-800">
    <h1 class="text-lg font-medium">Calamities</h1>
  </div>

  <div class="flex-grow p-6 overflow-auto bg-gray-800">
    <table class="min-w-full table-auto">
      <thead>
        <tr>
          <th>Name</th>
          <th>Team</th>
          <th>Location</th>
          <th>Scheduled At</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @calamities.each do |calamity| %>
          <tr class="bg-gray-700">
            <td class="p-2"><%= calamity.name %></td>
            <td class="p-2"><%= calamity.team_name %></td>
            <td class="p-2"><%= calamity.location %></td>
            <td class="p-2"><%= calamity.scheduled_at %></td>
            <td class="p-2"><%= link_to 'Show', calamity_path(calamity), class: "items-center justify-center h-10 p-1 ml-auto text-sm font-medium rounded hover:bg-gray-600" %></td>
            <td class="p-2"><%= link_to 'Edit', edit_calamity_path(calamity), class: "items-center justify-center h-10 p-1 ml-auto text-sm font-medium rounded hover:bg-gray-600" %></td>
            <td class="p-2"><%= link_to 'Destroy', calamity_path(calamity), method: :delete, data: { confirm: 'Are you sure?' }, class: "items-center justify-center h-10 p-1 ml-auto text-sm font-medium rounded hover:bg-gray-600" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Calamity', new_calamity_path, class: "text-center p-3 rounded bg-indigo-600 text-white hover:bg-indigo-900 focus:outline-none" %>
  </div>
</div>
