<div class="flex flex-col flex-grow">
  <div class="flex items-center flex-shrink-0 h-16 px-8 border-b border-gray-800">
    <h1 class="text-lg font-medium">View Calamity</h1>
  </div>
  <div class="flex-grow p-6 overflow-auto bg-gray-800">
    <div class="grid grid-cols-3 mb-2">
      <div class="p-4 col-span-1 bg-gray-700">
        <div class="p-2">
          <h2 class="text-lg font-medium"><%= @calamity.name %></h2>
        </div>

        <div class="p-2">
          <strong>Team:</strong>
          <%= @calamity.team_name %>
        </div>

        <div class="p-2">
          <strong>Location:</strong>
          <%= @calamity.location %>
        </div>

        <div class="p-2">
          <strong>Scheduled at:</strong>
          <%= @calamity.scheduled_at %>
        </div>
      </div>
    </div>

     <div class="grid grid-cols-2 mb-5">
        <table class="min-w-full table-auto">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @attendees.each do |attendee| %>
              <tr class="bg-gray-700">
                <td class="p-2"><%= attendee.name %></td>
                <td class="p-2"><%= attendee_status(attendee.status) %></td>
                <td class="p-2"><%= link_to 'Edit', edit_calamity_attendee_path(@calamity, attendee), class: "items-center justify-center h-10 p-1 ml-auto text-sm font-medium rounded hover:bg-gray-600" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>


    <%= link_to 'Edit', edit_calamity_path(@calamity), class: "items-center justify-center h-10 p-1 ml-auto text-sm font-medium rounded hover:bg-gray-600" %> |
    <%= link_to 'Back', calamities_path, class: "items-center justify-center h-10 p-1 ml-auto text-sm font-medium rounded hover:bg-gray-600" %>
  </div>
</div>
