<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @calamity.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @calamity.location %>
</p>

<p>
  <strong>Scheduled at:</strong>
  <%= @calamity.scheduled_at %>
</p>

<%= link_to 'Edit', edit_calamity_path(@calamity) %> |
<%= link_to 'Back', calamities_path %>
